<h2><%= @eg.course_instance.course.name %> / <%= @eg.course_instance.name %> / Ryhm채: <%=  @eg.name %></h2>
 
Harjoitusryhm채n pit채j채: <%= @eg.teacher %><br/><br/>

<% if Registration.find_by_user_id(session[:user_id]).nil? %>
	<%= link_to "Registration", :controller => :registrations, :action => :create, :exercise_group_id => @eg.id %>
<% else %>
	<p>Already registered to this group</p>
<% end %>
 
<br/>
<%= link_to "Takaisin", course_instance_path(@eg.course_instance) %>