<h2><%= @eg.course_instance.course.name %> / <%= @eg.course_instance.name %> / Ryhm채: <%=  @eg.name %></h2>
 
Harjoitusryhm채n pit채j채: <%= @eg.teacher %><br/><br/>
 
<br/>
<%= link_to "Takaisin", course_instance_url(@eg.course_instance) %>