<h1>List of courses</h1>

<%= link_to 'Add', new_course_url %>
<br />
<br />

<h2>Newsfeed</h2>
  <%=link_to "RSS Newsfeed", :action=>"index", :format=>"rss"%><br /><br />
  <% @newsfeed.each do |n| %>
<%=n.message%> <%=n.created_at%>
<br />
<% end %>

<% @courses.each do |course| %>
	<a href="/courses/show/<%= course.id %>"><%= course.name %></a><br/>
<% end %>


