<html>
<head>
	<%= javascript_include_tag 'XMLHttpRequest' ,'v2.standalone.full.min', 'v2.config', 'v2.rails' %>
	<%= javascript_for_validatious %>
	<%= stylesheet_link_tag 'superilmo' %>
</head>

<body>
	<%= yield %>
	<br/>
	Generated at: <%= Time.now.to_s %>
</body>
</html>